:host {
  display: block;
  .seccion-oscura {
    color: var(--color-light);
    background-color: var(--color-medium) !important;
  }

  .contacto .container {
    max-width: 1100px;
    min-height: 100px;
    padding: 20px;
  }

  .contacto .rectangulo {
    margin-top: -1rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  .contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .contacto .descripcion {
    color: white;
    font-size: 1.2rem;
  }
}
