:host {
  display: block;
  .seccion-oscura {
    color: var(--color-light);
    background-color: var(--color-medium) !important;
  }

  .contacto .container {
    max-width: 1100px;
    min-height: 100px;
    padding: 20px;
  }

  .contacto .rectangulo {
    margin-top: -1rem;
    background-color: var(--color-blue) !important;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  .contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .seccion-titulo {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px 0;
    font-family: var(--font-text) !important;
  }

  .contacto .descripcion {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-text) !important;
    text-align: center;
  }
}
