<!-- Contacto -->
<section id="contacta" class="contacto seccion-oscura">
  <div class="container">
    <div class="container rectangulo">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">
          ¡Hablemos!
        </div>
        <div class="col-12 col-md-4 descripcion">
          Contáctame para iniciar tu proyecto de desarrollo web y haré que tu visión se vuelva realidad.
        </div>
        <div class="col-12 col-md-4">
          <a href="mailto:URBANITAS@ACURBANS.COM">
            <button type="button">
              Contacta
              <i class="bi bi-envelope-check-fill"></i>
            </button>
          </a>
          <a href="telf:606891600">
            <button type="button">
              WhatsApp
              <i class="bi bi-whatsapp"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
