<nav class="navbar header">
  <div class="container-fluid ">
    <div class="myLogo">
      <img src="logo/NEGRO2.png" alt="Logo" class="logo">
      <!-- <h1>Associació Cultural Urbans</h1> -->
    </div>
    <h1>Associació Cultural Urbans</h1>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="login">
      <img src="login/avatar.png" alt="Avatar Usuario" class="avatar">
    </div>
    
  </div>
</nav>
