<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="nav">
        <a class="nav-link active" aria-current="page" href="#">FEMHO</a>
        <a class="nav-link" href="#">DJ URBAN</a>
        <a class="nav-link" href="#">COUNTRY LL&R</a>
        <a class="nav-link" href="#">ROBOTICA</a>
        <a class="nav-link" href="#">+ ACTIVITATS</a>
        <a class="nav-link" href="#contacta">CONTACTA</a>
      </nav>
    </div>
  </div>
</nav>
